[submodule "app/m/terraform-null-label"]
	path = app/m/terraform-null-label
	url = https://github.com/cloudposse/terraform-null-label
[submodule "app/m/terraform-aws-vpc"]
	path = app/m/terraform-aws-vpc
	url = https://github.com/cloudposse/terraform-aws-vpc
[submodule "app/m/terraform-aws-dynamic-subnets"]
	path = app/m/terraform-aws-dynamic-subnets
	url = https://github.com/cloudposse/terraform-aws-dynamic-subnets
[submodule "app/m/terraform-aws-eks-cluster"]
	path = app/m/terraform-aws-eks-cluster
	url = https://github.com/cloudposse/terraform-aws-eks-cluster
[submodule "app/m/terraform-aws-eks-iam-role"]
	path = app/m/terraform-aws-eks-iam-role
	url = https://github.com/cloudposse/terraform-aws-eks-iam-role
[submodule "app/m/terraform-aws-eks-node-group"]
	path = app/m/terraform-aws-eks-node-group
	url = https://github.com/cloudposse/terraform-aws-eks-node-group
